<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {734, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0B664E5F-9651-4CEC-AE45-D0E74858976C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1759D7A4-B6E8-4644-9BBA-687604EBF4BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>251D1865-885D-4102-B76C-B199F5108AE0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3828B6F2-9A85-40EE-971D-18598C2A6F9D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3A3C99A7-A4B6-4F5F-8D1B-888F48EF1DEF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>668517D4-CFC3-4767-BD1D-825489E5A478</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>70172EF9-322C-41EC-89CD-430E44846FD4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>724B24F4-1646-40DC-A944-C032153384C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>75F05A4F-1910-4A8C-8927-30F57D0A6D0A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>97C44687-0E03-459D-9A05-295A8FF260F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A675C7A6-91B5-415E-B2D0-B1470B6EC2FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B1ECD101-4B8F-4E41-99A1-DC553E7F5FDB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2C08060-93A5-4388-8D97-5764BF511900</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E8A1B493-452B-454A-849B-54D5AE677C70</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FAAD1E2C-69DA-4DFB-AE42-5AF5698F2060</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FD823E74-0E6E-48CF-8F41-2025B0BBDD27</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {409, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 564}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>29 449 1000 672 0 0 2048 1129 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
