<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {734, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>12AFA234-0671-487B-ACC4-B89D6EF919AA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>348DFE05-E1DA-4104-8FF3-21D4A31C4679</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B69ECCFB-2287-43A2-92A6-F91F30B1DCC5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC09D109-E7D3-4A60-967C-0E1362668436</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EB52E401-0AB5-4027-B36C-22367A79DA9C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {409, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 564}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 457 1000 672 0 0 2048 1129 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
